body {
    background: #7dadbb;
  
       } 
header {
    border: solid 1px #03385b;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
   
}
       h1{
        color: #03385b;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }

       .h2 {
        color: white;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
       
       a {
        font-size: large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
       }
       
       nav ul {
        list-style: none;
        font-size: large;
        border-radius: 8px;
        border: solid 2px #7DADBB; 
        
        }
       
        nav li {
        margin: 5px;
        
        
       }
       nav a { 
        text-decoration: none;
        color: black;
       }

       nav a:visited {
        color:#1A7595;
       }

       nav a:hover {
        color: #615FFF;
       }

       img {
        width: 40%;
        height:auto;
        border: solid 4px #ffffff;
       }

       .describe {
        color: #ffffff;
        font-size: large;
        font-family: cursive;
       }
footer{
    text-align: center;
    font-size: medium;
    background-color: white;
    
}

      
