body {
    background: #7dadbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 2px;
    flex-wrap: wrap;
       } 
header {
    border: solid 1px #03385b;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin: 15px;
    text-align: center;
    width:40%;
   
}
       h1{
        color: #03385b;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }

       .h2 {
        color: white;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
       a {
        font-size: large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
       }
       nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: large;
        border: solid 2px #7DADBB; 
        border-radius: 8px;
       }
       nav li {
        margin: 5px;
        
       }
       nav a { 
        text-decoration: none;
       }

       nav a:visited {
        color:#1A7595;
       }

       nav a:hover {
        color: #615FFF;
       }

       img {
        width: 40%;
        height:auto;
        border: solid 4px #ffffff;
       }

       .describe {
        color: #ffffff;
        font-size: large;
        font-family: cursive;
       }
footer{
    text-align: center;
    font-size: medium;
    background-color: white;
    
}
.foot {
    width: 100vw;
    position: absolute;
   

}
      
