header {
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin: 15px;
   
}
main {
    background: #7dadbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 2px;
       } 
       h1{
        color: #03385b;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }

       .h2 {
        color: white;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
       a {
        font-size: large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
       }
       nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 2px;
        font-size: large;
        border: solid 2px;
        border-color: #7DADBB; 
        border-radius: 8px;
       }
       nav li {
        margin: 5px;
        
       }
       img {
        width: 300px;
        height:auto;
        border: #ffffff dashed 4px;
       }
       .describe {
        color: #ffffff;
        font-size: large;
        font-family: cursive;
       }
      footer {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      }
